<%= render partial: "header" %>

<div id="festivals_box">
		<div id="each_festival"></div>
</div>

<div class="filters">
  <span>Filter by:</span>
  <a href="/" class="upcoming">Upcoming</a> |
  <a href="/" class="distance">Distance</a> |
  <a href="/" class="popularity">Most Popular</a> |
  <a href="/" class="random">Random Order</a> |
  <a href="/" class="my_favs">Favorites</a> 
</div>

<div id="search_box" >
  <input type="text" name="search_text" id="search_text" placeholder="Search by Festival"/>
  <span id="interest-dropdown-row"></span>
</div>

<div id="artists_search_box" >
  <input type="text" name="search_text" id="artist_search_text" placeholder="Search by Artist"/>
  <input type="button" name="search_button" value="festifindIT!" id="search_button"></a>
  <span id="artist-dropdown-row"></span>
</div>

<div class="artists_module">
  <div class="fav_arists_box">
    <div id="list-placeholder"></div>
  </div>
</div>

<div id="grid"></div>
