<div id="header_bar">
	<div id="header_text">FestiFind</div>
</div>
<div id="grid">
  <% @festivals.each do |festival| %>
    <%= render partial: "festival", locals: { festival: festival } %>
  <% end %>
</div>
