<div id="header_bar">
	<div id="header_text">FestiFind</div>
</div>
<div id="javascript_box">
	Explore festivals below to build your favorites! Click on the image to view a playlist. 
</div>
<div id="grid">
  <% @festivals.each do |festival| %>
    <div class="square">
    	<%= render partial: "festival", locals: { festival: festival } %>
    	<div class="favorite">
    		<span class="fav_text"><a class="fav_link" href="" data-val="<%=festival.display_name%>">add to favorite</a></span>
    	</div>
	</div>
  <% end %>
</div>
