
<div id="header_bar">
	<div id="header_text">FestiFind</div>
</div>
<div id="javascript_box">
	<div id="content-placeholder"></div>

	<div id="explore">Explore festivals below to find your favorites! </div>
	<div id="show_favs">Here are your Favorite upcoming festivals:
		<div id="each_festival"></div>
	</div>
</div>
<div id="grid">
  <% @festivals.each do |festival| %>
    <div class="square">
    	<%= render partial: "festival", locals: { festival: festival } %>
    	<div class="favorite">
    		<span class="fav_text"><a class="favs" href="" data-val="<%=festival.display_name%>">add to favorite</a></span>
    	</div>
	</div>
  <% end %>
</div>
