
 <div class="explore">
    <%= @festival.display_name %>
  </div>
<div class="fav_arists_box">
	<div class="content-placeholder">
	<% @artists.each do |t| %>
	    <div class="artist_row">
	    <span class="band_name"><%= t.display_name %></span>
	    <a class="listen favs" href="" data-val="<%=t.display_name%>">Listen</a>
	    </div>	    
    <% end %>
	</div>
	<div class="content-placeholder">
	</div>

</div>
