<div id="festivals_box">
 <div class="explore">
    <%= @festival.display_name %>
  </div>
</div>

<%= render "youtube_vid" %>

<div class="fav_arists_box">
	<div id="content-placeholder">
<% @artists.each do |t| %>
    <%= t.display_name %>
    <br>
    <% end %>
	</div>
</div>
