<div class="explore">
    <%= @festival.display_name %>
  </div>
</div>

<div class="fav_artists_box">
	<div class="list-placeholder">
		<div ng-controller="FestivalController as festival">
	   	<div class="artist_row" ng-repeat="artist in festival.artists">
	    	<span class="band_name">
				{{artist.display_name}} 
				</span>
	    	<a class="listen" href="" data-fest= "<%=@festival.id%>" data-val="{{artist.id}}">Listen</a>
	    </div>	    
  		</div>
	</div>

	<div class="video-placeholder">
		<%= render "youtube_vid" %>
	</div>
</div>

<h3>
	<a href="" onclick="setTimeout(function(){var ww = window.open(window.location, '_self'); ww.close(); }, 1000);">
    Close
</a>
</h3>