<div class="explore">
    <%= @festival.display_name %>
  </div>
</div>

<div class="fav_artists_box">
	<div ng-controller="FestivalController as festival">
		<div class="list-placeholder">
		   	<div ng-class="{red: artist.favorite == true}" class="artist_row" ng-repeat="artist in festival.artists">
		    	<span class="band_name">
					{{artist.display_name}}<br> 

				<button ng-click="festival.favoriting(artist)" ng-model="artist.favorite">I want to see them</button>
				</span>
				<a class="upcoming" href={{artist.seatgeek_url}} target="_blank">Upcoming Shows</a>
		    	<a class="listen" href="" data-fest= "<%=@festival.id%>" data-artist="{{artist.id}}">Listen</a>
		    </div>	    
		</div>
		<div class="video-placeholder">
			<%= render "youtube_vid" %>
		</div>
		<div id="favoriting_bands">
			<h1 style="border-bottom: 2px solid black;">Bands You want to see </h1>
			<div ng-repeat="artist in festival.artists">
			<p ng-show="artist.favorite == true">{{artist.display_name}}</p>
			</div>
		</div>
	</div>
	<a class="listen" href="" data-fest= "<%=@festival.id%>" data-artist="{{artist.id}}">Listen</a>

</div>
<h3>
	<a href="" onclick="setTimeout(function(){var ww = window.open(window.location, '_self'); ww.close(); }, 1000);">
    Close
</a>
</h3>
<div ng-controller="LoginController">
	<div ng-show="userIsAuthenticated">
		<h1>Hey{{formData.first_name}}</h1>
	</div>
	<div ng-hide="userIsAuthenticated">
		<button ng-click="showLoginForm()" ng-init="count=0">Login</button>
		<div class="login_form">
				<div id="lightbox"></div>
		<form ng-submit="processLogin()" class="white_content">
				<span>Email</span><input type="text" ng-model="formData.email">
				<span>Password</span><input type="text" ng-model="formData.password">
				<button type="submit" class="btn btn-success btn-lg btn-block">Login</button>
			</div>
		</form>

		<button ng-click="showForm()" ng-init="count=0">Create an account</button>
		<div class="lightbox_form">
			<div id="lightbox"></div>
			<div class="white_content">
				<form ng-submit="processForm()">
					<h1>Create an account:</h1>
				<span>First Name</span>
				<input type="text" ng-model="formData.first_name">
				<br>
				<span>Last Name</span>
				<input type="text" ng-model="formData.last_name">
				<br>
				<span>Email</span>
				<input type="text" ng-model="formData.email">
				<br>
				<span>Password</span>
				<input type="text" ng-model="formData.password">
				<br>
				<span>Password Confirmation</span>
				<input type="text" ng-model="formData.password_confirmation">
				<button type="submit" class="btn btn-success btn-lg btn-block">
				<span class="glyphicon glyphicon-flash"></span> Submit!
				</form>
			</div>
		</div>	
	</div>
</div>

