@import url(http://fonts.googleapis.com/css?family=Kaushan+Script);
$main-color: #e67e22;
@mixin rounded-corners {
  border-radius: 10px;
}
body {
  font-size: 12px;
  background-color: $main-color;
  color: black;
}
#header_bar {
    background-color:lighten($main-color,20%);
    margin-bottom: 20px;

  #header_text {
    font-family: 'Kaushan Script', cursive;
    font-size: 500%;
    text-align: center;
    padding: 10px;
  }
}
#grid {
  margin: 0 auto;
  text-align: center;
}

.block, .image, .info {
  overflow: hidden;
}

.image, .info {
  vertical-align: middle;
}

.block {
  height: 300px;
  width: 300px;
  background-color: #ecf0f1;
  @include rounded_corners;
  margin: 1px;
  padding: 2px;

}

.image {
  display: table-cell;
  height:300px;
  width:300px;
}
.favs{
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fa8c05) );
  background:-moz-linear-gradient( center top, #ffc477 5%, #fa8c05 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fa8c05');
  background-color:#ffc477;
  -webkit-border-top-left-radius:20px;
  -moz-border-radius-topleft:20px;
  border-top-left-radius:20px;
  -webkit-border-top-right-radius:20px;
  -moz-border-radius-topright:20px;
  border-top-right-radius:20px;
  -webkit-border-bottom-right-radius:20px;
  -moz-border-radius-bottomright:20px;
  border-bottom-right-radius:20px;
  -webkit-border-bottom-left-radius:20px;
  -moz-border-radius-bottomleft:20px;
  border-bottom-left-radius:20px;
  text-indent:0;
  border:1px solid #eeb44f;
  display:inline-block;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  font-weight:normal;
  font-style:normal;
  height:28px;
  line-height:28px;
  width:100px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #cc9f52;
}
.favs:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fa8c05), color-stop(1, #ffc477) );
  background:-moz-linear-gradient( center top, #fa8c05 5%, #ffc477 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fa8c05', endColorstr='#ffc477');
  background-color:#fa8c05;
}.favs:active {
  position:relative;
  top:1px;
  }
.info {
  display: none;
}
#javascript_box{
  background-color:white;
  border:1px solid black;
  margin-bottom:50px;
}
.festival-icon {
  max-width: 100%;
  height: 300px;

}
.fav_text {
  color:$main-color;
  font-size: 2em;

}
#explore, #show_favs {
  color:$main-color;
  font-size:4em;
}
#show_favs{
  display:none;
  #each_festival {
  font-size:.5em;
}
}

.playlist {
  padding-top: 10px;
}

.playlist-object {
  height: 240px;
}
.square{
  height:375px;
  width:325px;
  display:inline-block;
  margin:0;
}
.favorite{
  display:block;
  height:50px;
  width:220px;
  text-align: center;
  margin: auto;
}