@import url(http://fonts.googleapis.com/css?family=Kaushan+Script);

body {
  font-size: 12px;
  background-color: #e67e22;
  color: black;
}

#header_bar {
    background-color: white;
    margin-bottom: 20px;
}

#header {
  font-family: 'Kaushan Script', cursive;
  font-size: 500%;
  text-align: center;
  padding: 10px;
}

#grid {
  margin: 0 auto;
  text-align: center;
}

.block, .image, .info {
  overflow: hidden;
}

.image, .info {
  vertical-align: middle;
}

.block {
  height: 300px;
  width: 300px;
  display: inline-table;
  background-color: #ecf0f1;
  border-radius: 10px;
  margin: 1px;
  padding: 2px;

}

.image {
  display: table-cell;
}

.info {
  display: none;
}

.festival-icon {
  max-width: 290px;
  max-height: 290px;
}

.playlist {
  padding-top: 10px;
}

.playlist-object {
  height: 240px;
}
