<!DOCTYPE html>
<html ng-app="app">
<head>
  <title>Festifind</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="header_bar">
    <div id="header_text">FestiFind</div>
      <h3>Complete Playlists, Artist Videos and Tickets in a click</h3>
    </div>
  </div>

<script id="some-template" type="text/x-handlebars-template">
  <table>
      {{#each this}}
        <tr>
          <td>{{display_name}}</td>
        </tr>
      {{/each}}  
  </table>
</script>
<script id="fest-template" type="text/x-handlebars-template">
    {{#each this}}
    
    <div class="square">
      <div class="block">
        <div class="image" style="background-image:url({{icon}})"><img class="festival-icon" src={{fest_icon}}></div>
          <div class="info">
          <div class="name">{{display_name}}</div>
          <div class="city">{{city_name}}</div>
          <div class="date">{{start_date}}</div>
          <div class="playlist"><embed class="playlist-object" src="{{playlist_url}}"></div>
        </div>
      </div>
    
      <div class="favorite">
        <span class="favs" 'videos'><a href="/festivals/{{id}}" target="_blank">Videos</a></span></i>
        <span class="favs"><a href="{{tickets_url}}" data-val={{id}} target="_blank">Tickets</a></span>
      </div>
    </div>

    {{/each}}
</script>
<%= yield %>
<span class="festival_choice"><h6 class="greg"></h6></span>
</body>
</html>
