<!DOCTYPE html>
<html>
<head>
  <title>Festifind</title>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<script id="some-template" type="text/x-handlebars-template">
  <table>
      {{#each this}}
        <tr>
          <td>{{display_name}}</td>
        </tr>
      {{/each}}  
  </table>
</script>
<%= yield %>

</body>
</html>
